# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

4hetddft-anisotropic*
DFT4He3d.namelist.read
djogger.dat
hedenini-*
input
res.dat
uHe_He-z.0.dat
uimp-*
